## 1. Import necesasary libraries

In [1]:
import pandas as pd

## 2. Import Data

In [2]:
movie_data = pd.read_csv('Movie.csv')
movie_data.head(10)

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5
5      12  Toy Story (1995)     4.0
6      13  Toy Story (1995)     4.0
7      14  Toy Story (1995)     4.5
8      16  Toy Story (1995)     3.0
9      19  Toy Story (1995)     5.0

## 3. Initial Analysis

In [3]:
movie_data.shape

(8992, 3)

In [4]:
movie_data['movie'].nunique()

10

In [5]:
movie_data['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [6]:
#Let's see how many unique users
movie_data['userId'].nunique()

4081

## 4. Data Preparation for Recommendation

In [7]:
user_user_recommendation = pd.pivot_table(data = movie_data,index = 'userId', columns = 'movie',values = 'rating').reset_index(drop=True)
user_user_recommendation.head(30)

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN
6,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN
7,NaN,4.0,5.0,3.0,NaN,NaN,NaN,NaN,4.0,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
9,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN
10,2.0,NaN,3.0,3.0,NaN,3.0,NaN,NaN,4.0,NaN
11,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN
12,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,4.5,NaN
13,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN
15,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,4.0,5.0,NaN,5.0,NaN,NaN,5.0,NaN
17,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3.0,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
20,2.0,3.0,NaN,4.0,NaN,3.0,NaN,NaN,4.0,NaN
21,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN
23,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
25,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,5.0,NaN,NaN,3.0,3.0,NaN,NaN,5.0,NaN
27,NaN,NaN,3.0,NaN,NaN,5.0,NaN,3.0,NaN,NaN
28,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [8]:
user_user_recommendation.shape

(4081, 10)

In [9]:
movie_data['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [10]:
movie_data['userId'].shape

(8992,)

In [11]:
user_user_recommendation.index = movie_data['userId'].unique()
user_user_recommendation.head(30)

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
10,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN
13,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN
14,NaN,4.0,5.0,3.0,NaN,NaN,NaN,NaN,4.0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
19,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN
22,2.0,NaN,3.0,3.0,NaN,3.0,NaN,NaN,4.0,NaN
23,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN
24,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,4.5,NaN
31,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN
39,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,4.0,5.0,NaN,5.0,NaN,NaN,5.0,NaN
53,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3.0,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
59,2.0,3.0,NaN,4.0,NaN,3.0,NaN,NaN,4.0,NaN
66,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN
80,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
84,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,5.0,NaN,NaN,3.0,3.0,NaN,NaN,5.0,NaN
91,NaN,NaN,3.0,NaN,NaN,5.0,NaN,3.0,NaN,NaN
93,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [32]:
user_user_recommendation.shape

(4081, 10)

In [12]:
user_user_recommendation.fillna(value = 0, axis=0,inplace=True)

In [13]:
user_user_recommendation.head(10)

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
10,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0
13,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
14,0.0,4.0,5.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
19,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0

In [14]:
user_user_recommendation.dtypes

movie
Father of the Bride Part II (1995)    float64
GoldenEye (1995)                      float64
Grumpier Old Men (1995)               float64
Heat (1995)                           float64
Jumanji (1995)                        float64
Sabrina (1995)                        float64
Sudden Death (1995)                   float64
Tom and Huck (1995)                   float64
Toy Story (1995)                      float64
Waiting to Exhale (1995)              float64
dtype: object

## Model Building and Identifying the similar users for recommedation

In [15]:
from sklearn.metrics import pairwise_distances
#from scipy.spatial.distance import correlation,cosine

In [16]:
user_user_recommendation.values

array([[0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 4. , 0. ],
       ...,
       [0. , 3. , 4. , ..., 0. , 4. , 0. ],
       [0. , 0. , 0. , ..., 0. , 5. , 0. ],
       [0. , 0. , 0. , ..., 0. , 4.5, 0. ]])

In [17]:
user_user_similarity = pairwise_distances(X = user_user_recommendation.values)
user_user_similarity

array([[0.        , 5.31507291, 5.31507291, ..., 9.39414711, 6.10327781,
        6.04152299],
       [5.31507291, 0.        , 5.65685425, ..., 7.74596669, 6.40312424,
        8.26135582],
       [5.31507291, 5.65685425, 0.        , ..., 7.74596669, 1.        ,
        5.67890835],
       ...,
       [9.39414711, 7.74596669, 7.74596669, ..., 0.        , 7.81024968,
        8.26135582],
       [6.10327781, 6.40312424, 1.        , ..., 7.81024968, 0.        ,
        5.67890835],
       [6.04152299, 8.26135582, 5.67890835, ..., 8.26135582, 5.67890835,
        0.        ]])

In [18]:
user_user_df = pd.DataFrame(user_user_similarity)
user_user_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
0,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
1,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
2,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
3,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
4,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278

In [33]:
user_user_df.shape

(4081, 4081)

In [20]:
#Replace the index
user_user_df.index = movie_data['userId'].unique()
user_user_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
3,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
6,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
8,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
10,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
11,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278

In [21]:
#Replace the columns

In [22]:
user_user_df.columns = movie_data['userId'].unique()
user_user_df.head()

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.000000,5.315073,5.315073,6.103278,0.500000,8.440972,5.500000,8.845903,5.315073,6.224950,...,4.031129,5.315073,1.500000,4.031129,5.500000,5.315073,6.363961,9.394147,6.103278,6.041523
6,5.315073,0.000000,5.656854,6.403124,5.000000,7.141428,3.162278,6.480741,5.656854,6.519202,...,4.472136,5.656854,4.472136,6.928203,5.830952,5.656854,6.652067,7.745967,6.403124,8.261356
8,5.315073,5.656854,0.000000,6.403124,5.000000,5.916080,5.830952,7.071068,0.000000,2.549510,...,4.472136,0.000000,4.472136,4.000000,5.830952,5.656854,3.500000,7.745967,1.000000,5.678908
10,6.103278,6.403124,6.403124,0.000000,5.830952,9.165151,6.557439,6.403124,6.403124,5.612486,...,3.605551,6.403124,5.385165,7.549834,1.000000,6.403124,7.297260,6.855655,7.071068,8.789198
11,0.500000,5.000000,5.000000,5.830952,0.000000,8.246211,5.196152,8.660254,5.000000,5.958188,...,3.605551,5.000000,1.000000,4.123106,5.196152,5.000000,6.103278,9.219544,5.830952,6.103278

In [80]:
user_user_similarity = 1 - pairwise_distances(X = user_user_recommendation.values, metric='cosine')
user_user_similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [81]:
user_user_df = pd.DataFrame(user_user_similarity)
user_user_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
0,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372
1,0.0,1.0,0.0,0.0,0.0,0.390567,0.707107,0.615457,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.458831,0.0,0.000000
2,0.0,0.0,1.0,0.0,0.0,0.650945,0.000000,0.492366,1.0,0.874157,...,0.0,1.0,0.0,0.707107,0.000000,0.0,0.752577,0.458831,1.0,0.622543
3,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.615457,0.0,0.388514,...,0.8,0.0,0.0,0.000000,0.989949,0.0,0.000000,0.619422,0.0,0.000000
4,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372

In [82]:
#Replace the index
user_user_df.index = movie_data['userId'].unique()
user_user_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080
3,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372
6,0.0,1.0,0.0,0.0,0.0,0.390567,0.707107,0.615457,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.458831,0.0,0.000000
8,0.0,0.0,1.0,0.0,0.0,0.650945,0.000000,0.492366,1.0,0.874157,...,0.0,1.0,0.0,0.707107,0.000000,0.0,0.752577,0.458831,1.0,0.622543
10,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.615457,0.0,0.388514,...,0.8,0.0,0.0,0.000000,0.989949,0.0,0.000000,0.619422,0.0,0.000000
11,1.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372

In [83]:
user_user_df.columns = movie_data['userId'].unique()
user_user_df.head(20)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.00000,0.000000,0.000000,0.000000,0.553372
6,0.000000,1.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.458831,0.000000,0.000000
8,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.00000,0.752577,0.458831,1.000000,0.622543
10,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.800000,0.000000,0.000000,0.000000,0.989949,0.00000,0.000000,0.619422,0.000000,0.000000
11,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.00000,0.000000,0.000000,0.000000,0.553372
12,0.000000,0.390567,0.650945,0.000000,0.000000,1.000000,0.736460,0.560880,0.650945,0.569028,...,0.000000,0.650945,0.000000,0.460287,0.000000,0.00000,0.489886,0.701884,0.650945,0.765455
13,0.000000,0.707107,0.000000,0.000000,0.000000,0.736460,1.000000,0.435194,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.567775,0.000000,0.391293
14,0.000000,0.615457,0.492366,0.615457,0.000000,0.560880,0.435194,1.000000,0.492366,0.669519,...,0.492366,0.492366,0.000000,0.348155,0.609272,0.00000,0.370543,0.889532,0.492366,0.306519
16,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.00000,0.752577,0.458831,1.000000,0.622543
19,0.000000,0.000000,0.874157,0.388514,0.000000,0.569028,0.000000,0.669519,0.874157,1.000000,...,0.485643,0.874157,0.000000,0.618123,0.343401,0.00000,0.657870,0.568212,0.874157,0.544201
22,0.000000,0.437595,0.583460,0.262557,0.000000,0.835560,0.618853,0.718190,0.583460,0.510036,...,0.000000,0.583460,0.000000,0.412568,0.309426,0.29173,0.631204,0.870057,0.583460,0.605382
23,0.514496,0.000000,0.685994,0.411597,0.514496,0.446544,0.000000,0.591080,0.685994,0.849528,...,0.514496,0.685994,0.514496,0.848875,0.363803,0.00000,0.516263,0.491806,0.685994,0.711768
24,0.000000,0.000000,0.789352,0.000000,0.000000,0.913466,0.434122,0.388650,0.789352,0.690018,...,0.000000,0.789352,0.000000,0.558156,0.000000,0.00000,0.594048,0.573451,0.789352,0.831143
31,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.492366,0.000000,0.485643,...,1.000000,0.000000,0.000000,0.000000,0.707107,0.00000,0.000000,0.344124,0.000000,0.000000
34,0.000000,0.000000,0.707107,0.424264,0.000000,0.460287,0.000000,0.609272,0.707107,0.618123,...,0.000000,0.707107,0.000000,0.500000,0.500000,0.00000,0.532152,0.729996,0.707107,0.440204
39,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.369274,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.707107,0.00000,0.000000,0.573539,0.000000,0.000000
47,0.000000,0.419314,0.524142,0.314485,0.000000,0.846145,0.667124,0.709692,0.524142,0.458183,...,0.000000,0.524142,0.000000,0.370625,0.370625,0.00000,0.394457,0.913874,0.524142,0.616347
53,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.369274,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.707107,0.00000,0.000000,0.573539,0.000000,0.000000
54,0.000000,0.000000,0.514496,0.514496,0.000000,0.334908,0.000000,0.569970,0.514496,0.449750,...,0.000000,0.514496,0.000000,0.363803,0.606339,0.00000,0.387198,0.727873,0.514496,0.320296
58,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.00000,0.752577,0.458831,1.000000,0.622543

In [85]:
import numpy as np
np.fill_diagonal(a = user_user_similarity, val = 0)

In [86]:
user_user_df.head()

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372
6,0.0,0.0,0.0,0.0,0.0,0.390567,0.707107,0.615457,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.458831,0.0,0.000000
8,0.0,0.0,0.0,0.0,0.0,0.650945,0.000000,0.492366,1.0,0.874157,...,0.0,1.0,0.0,0.707107,0.000000,0.0,0.752577,0.458831,1.0,0.622543
10,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.615457,0.0,0.388514,...,0.8,0.0,0.0,0.000000,0.989949,0.0,0.000000,0.619422,0.0,0.000000
11,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,1.0,0.707107,0.000000,0.0,0.000000,0.000000,0.0,0.553372

In [73]:
first_15_users = user_user_df.iloc[:15,:15]
first_15_users

,3,6,8,10,11,12,13,14,16,19,22,23,24,31,34
3,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.514496,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,0.437595,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,0.583460,0.685994,0.789352,0.000000,0.707107
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,0.262557,0.411597,0.000000,0.800000,0.424264
11,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.514496,0.000000,0.000000,0.000000
12,0.000000,0.390567,0.650945,0.000000,0.000000,0.000000,0.736460,0.560880,0.650945,0.569028,0.835560,0.446544,0.913466,0.000000,0.460287
13,0.000000,0.707107,0.000000,0.000000,0.000000,0.736460,0.000000,0.435194,0.000000,0.000000,0.618853,0.000000,0.434122,0.000000,0.000000
14,0.000000,0.615457,0.492366,0.615457,0.000000,0.560880,0.435194,0.000000,0.492366,0.669519,0.718190,0.591080,0.388650,0.492366,0.609272
16,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,0.000000,0.874157,0.583460,0.685994,0.789352,0.000000,0.707107
19,0.000000,0.000000,0.874157,0.388514,0.000000,0.569028,0.000000,0.669519,0.874157,0.000000,0.510036,0.849528,0.690018,0.485643,0.618123
22,0.000000,0.437595,0.583460,0.262557,0.000000,0.835560,0.618853,0.718190,0.583460,0.510036,0.000000,0.400250,0.729213,0.000000,0.721995
23,0.514496,0.000000,0.685994,0.411597,0.514496,0.446544,0.000000,0.591080,0.685994,0.849528,0.400250,0.000000,0.541491,0.514496,0.485071
24,0.000000,0.000000,0.789352,0.000000,0.000000,0.913466,0.434122,0.388650,0.789352,0.690018,0.729213,0.541491,0.000000,0.000000,0.558156
31,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,0.000000,0.492366,0.000000,0.485643,0.000000,0.514496,0.000000,0.000000,0.000000
34,0.000000,0.000000,0.707107,0.424264,0.000000,0.460287,0.000000,0.609272,0.707107,0.618123,0.721995,0.485071,0.558156,0.000000,0.000000

In [88]:
#To findout most similar users
first_15_users.idxmax(axis=0)

3     11
6     13
8     16
10    31
11     3
12    24
13    12
14    22
16     8
19     8
22    12
23    19
24    12
31    10
34    22
dtype: int64

In [75]:
movie_data[(movie_data['userId']==3) | (movie_data['userId']==11)]

      userId             movie  rating
0          3  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
7446      11  GoldenEye (1995)     2.5