# Chapter 1 - Hello World

## 1[a] Hello World

In [ ]:
print('Welcome Dhanashreee!!!')

Welcome Dhanashreee!!!

In [ ]:
print("Welcome Sai")

Welcome Sai

In [ ]:
print("Mentoring makes learner's mind push beyonf the limits")

Mentoring makes learner's mind push beyonf the limits

## 1[b] Create a variable

In [ ]:
numbers = ["Aditi","Ashwathy","Sneha",123,78]

In [ ]:
print(numbers)

['Aditi', 'Ashwathy', 'Sneha', 123, 78]

In [ ]:
#Dont make a variable name with a keyword
len_ = 34

34

### -----------------------------------------------------------------------------------------------------------------------------------------------------------

# Chapter 2 - Strings and String Methods

## 2[a] What is a String?

In [ ]:
#Anything whihc is enclosed within quotes.
learner_names = "Manan"
learner_names

'Manan'

In [ ]:
type(learner_names)

str

In [ ]:
target_score = 394
print(target_score)
print(type(target_score))

394
<class 'int'>

In [ ]:
batting_average = 139.34
type(batting_average)

float

## 2[b] Concatenation - Indexing and Slicing

In [ ]:
fname = "Aswathy"
lname = "Palathingal"
batch = "DS_11am_batch"
print(fname + " " + lname + "is my new learner" + " " +batch + ".")

Aswathy Palathingalis my new learner DS_11am_batch.

In [ ]:
name= "Naresh Chandra sdhskjdkfs sjdhakja"
len(name)

34

In [ ]:
#Index number in python always starts from 0.
name[7:14]

'Chandra'

## 2[c] Manipulate Strings with methods

* Methods/Function - both are same. Methods are something which is ending with ().

In [ ]:
learner_1 = "Darshan"
learner_2 = "Chandramohan"
learner_3 = "wasim"

In [ ]:
print(learner_1)
print(learner_2)
print(learner_3)

Darshan
Chandramohan
wasim

In [ ]:
print(learner_1.upper())
print(learner_2.upper())
print(learner_3.upper())

DARSHAN
CHANDRAMOHAN
WASIM

In [ ]:
learner_1 = "darshan"
learner_2 = "chandramohan"
learner_3 = "wasim"

In [ ]:
print(learner_1.capitalize())
print(learner_2.capitalize())
print(learner_3.capitalize())

Darshan
Chandramohan
Wasim

## 2[d] - Interact with user input

In [ ]:
name = input("Username: ")
len(name)

Username: Manoj Yadav
11

In [ ]:
#Get name from the user and make all the alphabets in lower letter
name =  input("Enter you name: ")
print(name)
print(name.lower())
print(name.casefold())

Enter you name: Akash
Akash
akash
akash

## 2[e] Get and print the first letter of the username

In [ ]:
username = input("Enter the username: ")
#username[0]
print("Hint: First letter: ",username[0])

Enter the username: pavan
Hint: First letter:  p

## 2[f] Working with Strings and Numbers

In [ ]:
#Product of 2 number. User preference.
num_1 = input("Enter a number: ")
num_2 = input("Enter another number")
product = float(num_1) * float(num_2)
print("The product of "+ num_1 + " and " + num_2 + " is " + str(product) +".")

Enter a number: 7.8
Enter another number11.6677
The product of 7.8 and 11.6677 is 91.00806.

In [ ]:
type(product)

float

## 2[g] Streamline your print Statements

In [ ]:
name = "DhanaShree" #str
batch = 11 # int
print("{} is from my DataScience {} am batch.".format(name,batch))

DhanaShree is from my DataScience 11 am batch.

In [ ]:
name = input("Name: ")
batch = input("Batch Time: ")
print("{} is from my DataScience {} am batch.".format(name,batch))

Name: Bhpendra
Batch Time: 8.30
Bhpendra is from my DataScience 8.30 am batch.

## 2[h] Find-a-string-in-a-string

In [ ]:
comment = "I dont know why EXCELR is paying money to John. Worst Trainer"

In [ ]:
comment.find("Worst")

48

In [ ]:
comment.replace("Worst","Somewhat OK")

'I dont know why EXCELR is paying money to John. Somewhat OK Trainer'

In [ ]:
mail = "You have won $1000 lottery. Congradulations!!!!!" 
mail

'You have won $1000 lottery. Congradulations!!!!!'

In [ ]:
mail.replace("$","")

'You have won 1000 lottery. Congradulations!!!!!'

In [ ]:
#Study about Regular expressions

# Chapter 3 - Numbers in Python

## 3[a] Integers and floating point numbers

In [ ]:
team_goal = 4

In [ ]:
type(team_goal)

int

In [ ]:
avg_marks = -8.56
type(avg_marks)

float

In [ ]:
print(abs(avg_marks))

8.56

# Chapter 4 - Functions and Loops

#### 3 Types of Function:
* Predefined Functions  - is something which gets installed while you instal jupyter notebook.
* Userdefined Functions - sequence of methods which repeated sequencially, ie, step by step - one after the another.
* Anonymous Functions

## 4[a] Write your own functions

In [ ]:
def chicken_shop():
    print("250g of chicken")
    print("Ginger garlic Paste")
    print("4eggs")

In [ ]:
chicken_shop()

250g of chicken
Ginger garlic Paste
4eggs

#### Positional Argument

In [ ]:
def add_numbers(num_1,num_2): #Arguments
    print("Product of 2 numbers:",num_1 * num_2)

In [ ]:
add_numbers(7,9) # Parameters

Product of 2 numbers: 63

In [ ]:
add_numbers(5.4,5.6)

Product of 2 numbers: 30.24

In [ ]:
add_numbers(5,6)

Product of 2 numbers: 30

In [ ]:
#Get 3 different datatypes and create your own function which returns some meaningful statement.

In [ ]:
def user_details(age,weight,name):
    return "You name is {} and you are {} years old and your weight is {} kg.".format(name,age,weight)

In [ ]:
user_details(23,58.3,"Dhanashree")

You name is Dhanashree and you are 23 years old and your weight is 58.3 kg.

#### Default arguments

In [ ]:
def get_emp_details(name,age,sal,company = 'Google'):
    print("Name:", name)
    print("Age:" , age)
    print("Salary:",sal)
    print("Company:",company)

In [ ]:
get_emp_details(age = 50, sal=150000, name = 'Sangeeta')

Name: Dhanashree
Age: 50
Salary: 150000
Company: Google

In [ ]:
get_emp_details('Hritik', 25, 50000,'Microsoft')

Name: Hritik
Age: 25
Salary: 50000
Company: Microsoft

In [ ]:
get_emp_details('Kumar',27,90000)

Name: Kumar
Age: 27
Salary: 90000
Company: Google

#### Variable-length arguments

In [ ]:
def get_emp_details(name,age,sal,*company):
    print("Name:", name)
    print("Age:" , age)
    print("Salary:",sal)
    print("Company:",company)
get_emp_details('Pravina',24,45000,'Google','Microsoft','IBM')

Name: Pravina
Age: 24
Salary: 45000
Company: ('Google', 'Microsoft', 'IBM')

In [ ]:
get_emp_details('John',28,20000,'EXCELR','DecoderTechnology','RIA Academy','Dataebook')

Name: John
Age: 28
Salary: 20000
Company: ('EXCELR', 'DecoderTechnology', 'RIA Academy', 'Dataebook')

In [ ]:
def get_emp_details(name,age,sal,**company):
    print("Name:", name)
    print("Age:" , age)
    print("Salary:",sal)
    print("Company:",company)
get_emp_details('Pravina',24,45000,company_1 = 'Google',company_2 = 'Microsoft',company_3 ='IBM')

Name: Pravina
Age: 24
Salary: 45000
Company: {'company_1': 'Google', 'company_2': 'Microsoft', 'company_3': 'IBM'}

## 4[b] Run in circles

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

## 4[c] Defintions with for loop

In [ ]:
def get_name(name):
    for i in name:
        print(i)
    return "Splitting is completed"

get_name("Neha")

N
e
h
a

'Splitting is completed'

## ----------------------------------------------------------------------------------------------------------------

# Chapter 5 - Conditional logic

## 5[a] Compare values using Arithmentic Operators

In [ ]:
1 == 5 # equal to

False

In [ ]:
"Sneha" == "Sneha" # equal to

True

In [ ]:
1 != 5 #not equal to

True

In [ ]:
1 == '1'

False

## 5[b] Add some logic

In [ ]:
a = 5
b = 10
c = 15

True

#### AND Operator
T T ---> T

#### OR operator
F F --> F

In [1]:
#AND operator
a>b and b<c

NameError: ignored

In [ ]:
#OR operator
a>b or b<c

In [ ]:
#IN operator - checks whther the given word is present in my paragraph
trainer_feedback  = "Snehal Dalvi is a quick learner"
"quick" in trainer_feedback

In [ ]:
#Not in
"quick" not in trainer_feedback

## 5[c] Control the flow of your program

In [ ]:
#Simple ifele statement
user_input = input("Type something...")

if len(user_input)<5:
    print("Your input is less than 5 characters")
else:
    print("Your input is greater than 5 characters")

Type something...Vishal Biradar
Your input is greater than 5 characters

In [ ]:
#Nestedif statement
user_input = input("Type something...")

if len(user_input)<5:
    print("Your input is less than 5 characters")
elif len(user_input)>5:
    print("Your input is greater than 5 characters")
else:
    print("Your input is exactly equal to 5 characters")

Type something...Sneha
Your input is exactly equal to 5 characters

## 5[d] Challenge to find the factors of a number.

#For eg, if input = 10, my output = 1,2,5,10.
1. get input
2. use for loop
3. use if statement
    if num % i == 0:
        print()

In [ ]:
user_input = int(input("Enter any number, I'll say the factors of the number you want.."))

for i in range(1,user_input+1):
    if user_input % i == 0:
        print("{} is a factor of {}.".format(i,user_input))

Enter any number, I'll say the factors of the number you want..15
1 is a factor of 15.
3 is a factor of 15.
5 is a factor of 15.
15 is a factor of 15.

## 5[e] Break out of the pattern

In [ ]:
#Break with loop
while True:
    get_input = input("Type q or Q to quit from this window:")
    if get_input.lower() == 'a' and 'e' and 'i' and 'o' and 'u':
        break

Type q or Q to quit from this window:r
Type q or Q to quit from this window:t
Type q or Q to quit from this window:a

In [ ]:
#continue inside loop
for i in range(1,100):
    if i%3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98