# Assignment - 02

Give 2 examples for all the methods/functions inside List, Tuple, Set and Dictionaries.

## List

In [104]:
list1=["Hello","hi","bye"]
list2=[1,2,3]
list3=[1.02,2.04,3.0,2.04]
list4=[1,2.4,"Manan"]
list0=[12,5,4,9,2,7]

list1.append("hey")
list1

['Hello', 'hi', 'bye', 'hey']

In [80]:
type(list1),type(list2),type(list3),type(list4)

(list, list, list, list)

In [14]:
list2.clear()
list2

[]

In [19]:
v=list1.copy()
v
#returns copy of the list

['Hello', 'hi', 'bye', 'hey']

In [28]:
list3.count(2.04)

2

In [30]:
list1.extend(list2)
list1
#adds list 1 with list 2 within list 1

['Hello', 'hi', 'bye', 'hey', 1, 2, 3, 1, 2, 3]

In [43]:
list5=list4.index("Manan")
list5

2

In [54]:
list4.insert(0,"Ram")
list4.insert(3,"SAS")
list4

['Ram', 1, 2.4, 'SAS', 'Manan']

In [55]:
list4.remove("SAS")
list4

['Ram', 1, 2.4, 'Manan']

In [56]:
list4.pop()
#removes last value and shows the removed value

'Manan'

In [57]:
list4

['Ram', 1, 2.4]

In [64]:
list0.sort()
list0
#sorts numerical values only, doesn't work with string values

[2, 4, 5, 7, 9, 12]

In [66]:
list1.reverse()
list1
#works with all values str and numerical and reverses them

['hey', 'bye', 'hi', 'Hello']

In [47]:
help(list.mro)


 # works with classes in the examples on internet not getting into it for now

Help on built-in function mro:

mro() method of builtins.type instance
    Return a type's method resolution order.

## Sets

In [20]:
set1={"Hello","hi","bye"}
set2={1,2,3,3,3,3,3}
set3={1.02,2.04,3.0,2.04,3,2}
set4={1,2.4,"Manan"}

type(set1),type(set2),type(set3),type(set4)

(set, set, set, set)

In [94]:
set2
#set values are non repetable

{1, 2, 3}

In [92]:
set1.add("hey")
set1

{'Hello', 'bye', 'hey', 'hi'}

In [93]:
set3.clear()
set3

set()

In [96]:
q=set1.copy()
q

{'Hello', 'bye', 'hey', 'hi'}

In [19]:
print(set2.difference(set3))
#for difference between 2 sets

{1}

In [14]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [20]:
set2.difference_update(set3)
set2

{1}

In [24]:
set4.discard(2.4)
set4
#discards the entered element

{1, 'Manan'}

In [27]:
set2.intersection(set3)
#shows same items with 2 different sets

{2, 3}

In [31]:
set2.intersection_update(set3)
set2

{2, 3}

In [32]:
help(set.intersection),help(set.intersection_update)
# intersection updates value in new set whereas intersection_update updates within same sets

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

(None, None)

In [10]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [3]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [11]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [13]:
set1.update("sxi")
set1

{'Hello', 'bye', 'hi', 'i', 's', 'x'}

In [14]:
set1.union(set2)

{1, 2, 3, 'Hello', 'bye', 'hi', 'i', 's', 'x'}

In [19]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [22]:
set1.remove('hi')
set1

{'Hello', 'bye'}

In [23]:
set1.pop()

'bye'

In [24]:
set1

{'Hello'}

In [25]:
set1.symmetric_difference(set2)

{1, 2, 3, 'Hello'}

In [26]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [27]:
set2.issubset(set4)

False

In [29]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [28]:
set2.issuperset(set4)

False

In [30]:
help(set.issuperset)

Help on method_descriptor:

issuperset(...)
    Report whether this set contains another set.

## Tuple

In [32]:
tup1=("Hello","hi","bye")
tup2=(1,2,3)

In [35]:
type(tup1),type(tup2)

(tuple, tuple)

In [41]:
tup1.count("hi")

1

In [44]:
tup1.index("bye")

2

## Dictionaries

In [86]:
dic1={1:"manan",2:"ashu",3:"raj"}
dic2={"clothes":"a","utensils":"b","food":"c"}
dic3={1:"hih",2:"uhu",3:"rfr"}

type(dic1),type(dic2)

(dict, dict)

In [50]:
dic1.values()

dict_values(['manan', 'ashu', 'raj'])

In [51]:
dic1.keys()

dict_keys([1, 2, 3])

In [54]:
dic1.clear()
dic1

{}

In [58]:
c=dic1.copy()
c

{1: 'manan', 2: 'ashu', 3: 'raj'}

In [61]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [102]:
dic1.get(2)

'ashu'

In [63]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [97]:
dic1.items()

dict_items([(1, 'manan'), (2, 'ashu')])

In [64]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [95]:
dic1.pop(3)

'raj'

In [96]:
dic1

{1: 'manan', 2: 'ashu'}

In [65]:
help(dict.popitem)

Help on method_descriptor:

popitem(self, /)
    Remove and return a (key, value) pair as a 2-tuple.

    Pairs are returned in LIFO (last-in, first-out) order.
    Raises KeyError if the dict is empty.

In [91]:
dic2.popitem()

('food', 'c')

In [92]:
dic2

{'clothes': 'a', 'utensils': 'b'}

In [66]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [90]:
dic3.update({4:"afe"})
dic3

{1: 'hih', 2: 'uhu', 3: 'rfr', 4: 'afe'}

In [59]:
help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [113]:
dic1.setdefault(0,"None")
dic1[0]

'None'

In [78]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [88]:
dic3.fromkeys(dic1)

{1: None, 2: None, 3: None}