In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.read_csv("Sales Transactions-2017.csv")
b=pd.read_csv("Sales Transactions-2018.csv")
c=pd.read_csv("Sales Transactions-2019.csv")

In [3]:
a.shape,b.shape,c.shape

((47290, 9), (44740, 9), (19176, 9))

In [4]:
data=pd.concat([a,b,c])

In [5]:
data.shape

(111206, 9)

In [6]:
data.head()

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN

In [7]:
data.describe(include="all")

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
count,98615,98649,111166,98615,98649,98648,98648,5597,27560
unique,836,10044,1994,867,546,1109,2548,371,7149
top,,,TP13,,100,,,,
freq,3053,3053,13056,3053,12528,3051,3053,3053,3053

In [8]:
data.isnull().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

In [9]:
data=data.dropna(how='all')
#Only 6 rows dropped that had all missing values
data.shape

(111200, 9)

In [10]:
pd.set_option("max_rows",None)

In [11]:
data.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [12]:
del data["Voucher Amount"]

In [13]:
del data["Disc"]

In [14]:
new_data = data.dropna(axis = 0, how ='any')

In [15]:
new_data.head(20)

,Date,Voucher,Party,Product,Qty,Rate,Gross
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00"
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00"
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00"
5,1/4/2017,Sal:2,SARNESWARA TRADERS,CLASSIC ENJOY(750),1,"1,320.00","1,320.00"
6,1/4/2017,Sal:898,Lock,Vishnu 250ml,100,30,"3,000.00"
7,1/4/2017,Sal:898,Lock,BLACK DOG-350ML,100,26,"2,600.00"
8,,,khader vali late en,,,,
9,,,try,,,,
10,1/4/2017,Sal:2497,VAMSI KRISHNA FANCY,Loose Items,1,800,800
12,,,DUMMY ENTRY,,,,
13,1/4/2017,Sal:9263,VAMSI KRISHNA FANCY,Loose Items,1,280,280
15,,,dummy entry,,,,
16,1/4/2017,Sal:9545,Vkp,Loose Items,1,695,695
17,,,dummy entry,,,,
18,2/4/2017,Sal:16,KPR,LITE FOAM(1200),1,"1,620.00","1,620.00"
19,3/4/2017,Sal:3,BALAJI PLASTICS,90ML RANGEELA,150,14.5,"2,175.00"
20,3/4/2017,Sal:4,DURGAHOTEL,SILVER POUCH 9*12,10,90,900
21,3/4/2017,Sal:4,DURGAHOTEL,SILVER POUCH 8*10,10,70,700

In [16]:
new_data.shape,data.shape

((98614, 7), (111200, 7))

In [17]:
newest=new_data.drop_duplicates()
newest.shape

(96356, 7)

In [18]:
newww=newest.fillna(0)

In [19]:
newest=newest.replace(" ", np.nan)
# newest = newest.replace(r'^\s*$', np.nan, regex=True)    -- use any one of these to remove error with empty spaces, same to convert objects to float

In [20]:
newest["Voucher"] = newest["Voucher"].str.replace("Sal:","")

# This line doesn't work for some reason

In [21]:
latest=newest.dropna()

In [22]:
latest.head(10)

#unable to remove empty rows that contain dummy values

,Date,Voucher,Party,Product,Qty,Rate,Gross
0,1/4/2017,1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00"
1,1/4/2017,1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00"
2,1/4/2017,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00"
3,1/4/2017,2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00"
4,1/4/2017,2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00"
5,1/4/2017,2,SARNESWARA TRADERS,CLASSIC ENJOY(750),1,"1,320.00","1,320.00"
6,1/4/2017,898,Lock,Vishnu 250ml,100,30,"3,000.00"
7,1/4/2017,898,Lock,BLACK DOG-350ML,100,26,"2,600.00"
10,1/4/2017,2497,VAMSI KRISHNA FANCY,Loose Items,1,800,800
13,1/4/2017,9263,VAMSI KRISHNA FANCY,Loose Items,1,280,280

In [23]:
latest.shape

(95223, 7)

In [ ]:
# latest['Rate'] = latest['Rate'].str.strip()

In [24]:
latest=latest.astype(str)

In [25]:
latest['Rate'] = latest['Rate'].str.replace(",","").astype(float)

In [26]:
latest['Gross'] = latest['Gross'].str.replace(",","").astype(float)

In [27]:
latest['Voucher'] = latest['Voucher'].astype(int)

In [28]:
latest['Date'] = latest['Date'].astype("datetime64")

In [29]:
latest['Qty'] = latest['Qty'].str.replace(",","").astype(float)# first converting to float as it has few float values

In [30]:
latest['Qty'] = latest['Qty'].astype(int)

In [31]:
latest.head(10)

,Date,Voucher,Party,Product,Qty,Rate,Gross
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2,1690.0,3380.0
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6,1620.0,9720.0
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23.0,11500.0
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6,1620.0,9720.0
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5,1690.0,8450.0
5,2017-01-04,2,SARNESWARA TRADERS,CLASSIC ENJOY(750),1,1320.0,1320.0
6,2017-01-04,898,Lock,Vishnu 250ml,100,30.0,3000.0
7,2017-01-04,898,Lock,BLACK DOG-350ML,100,26.0,2600.0
10,2017-01-04,2497,VAMSI KRISHNA FANCY,Loose Items,1,800.0,800.0
13,2017-01-04,9263,VAMSI KRISHNA FANCY,Loose Items,1,280.0,280.0

In [32]:
latest.isnull().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
Gross      0
dtype: int64

In [33]:
latest.dtypes

Date       datetime64[ns]
Voucher             int32
Party              object
Product            object
Qty                 int32
Rate              float64
Gross             float64
dtype: object

# >>>>>>>>>>>>>>>>>THE END<<<<<<<<<<<<<<<<<<