# Python Data Structures

There are 4 Python Data Sctructures.

* List
* Sets
* Tuple
* Dict

## 1.List

* Hetegenous datastructure
* 1D datastructure
* Allows duplicate entries
* Mutable - the entries are changeable at anytime
* Slicable because list is indexable

In [80]:
scores = [] #Empty list

In [81]:
scores

[]

In [5]:
type(scores)

list

In [6]:
scores = [450,350,350,500] #Homogenous values
scores

[450, 350, 350, 500]

In [7]:
names = ["Aditi",123,"G0",12.45] #Heterogenous 
names

['Aditi', 123, 'G0', 12.45]

In [8]:
names = ["Aditi",123,"G0",12.45,123,"Aditi",123] #Heterogenous 
names

['Aditi', 123, 'G0', 12.45, 123, 'Aditi', 123]

In [19]:
len(names)

7

In [9]:
names[0] = "Ashwathy"

In [10]:
names

['Ashwathy', 123, 'G0', 12.45, 123, 'Aditi', 123]

In [11]:
names[2:]

['G0', 12.45, 123, 'Aditi', 123]

In [12]:
names[3:6]

[12.45, 123, 'Aditi']

In [15]:
#names[0:6] #positive indexing
names[:-1]  #negative indexing

['Ashwathy', 123, 'G0', 12.45, 123, 'Aditi']

In [18]:
names[-3:]

[123, 'Aditi', 123]

In [ ]:
list.

In [21]:
names.append("Shubham")

In [22]:
names

['Ashwathy', 123, 'G0', 12.45, 123, 'Aditi', 123, 'Shubham']

In [23]:
names.clear()

In [24]:
names

[]

## 2. Sets

* 1D datastructures
* Heterogeneous
* Never allows duplicate values
* Not slicable because not indexable
* Mutable - because it is changeable anytime

In [25]:
empty_set = set() #Emptyset
type(empty_set)

set

In [26]:
temp = {12,34,56,67}
temp

{12, 34, 56, 67}

In [27]:
type(temp)

set

In [39]:
temp = {12,34,56,67,12,12,12,34,45,67,56,34,"Shubham",45.67}
temp

{12, 34, 45, 45.67, 56, 67, 'Shubham'}

In [33]:
temp[0] # Not indexable

TypeError: 'set' object does not support item assignment

In [32]:
temp[0:7] #Not slicable

TypeError: 'set' object is not subscriptable

In [ ]:
set.

In [40]:
temp.add(5)

In [37]:
temp.clear()

In [41]:
temp

{12, 34, 45, 45.67, 5, 56, 67, 'Shubham'}

## 3. Tuple

* 1D datastructure
* Heterogenous datastructure
* Allows duplicate elements
* Slicable because Tuple is indexable
* Not mutable - values once got assigned to a tuple variable, it cannot be changed in future. We have to create a new tuple variable.

In [42]:
empty_tuple = ()
type(empty_tuple)

tuple

In [50]:
time = (12,1,3,5,7,9,9.15,1,1,1,1,3,3,5,7,77,"Kumar Price")
time

(12, 1, 3, 5, 7, 9, 9.15, 1, 1, 1, 1, 3, 3, 5, 7, 77, 'Kumar Price')

In [48]:
type(time)

tuple

In [51]:
time[0]

12

In [52]:
time[1:5]

(1, 3, 5, 7)

In [53]:
time[1] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple.

## 4. Dictionary(dict) - Key:Value pair

* 2D Datastructure
* Heterogenous datatype
* It can duplicate values but not recommended to have duplicate keys
* Not slicable, because not indexable

In [55]:
empty_dict = {}
type(empty_dict)

dict

In [56]:
shopping_cart = {"Tomato":5,
                 "Oats": 1,
                 "Almonds": 0.5,
                 "Black Raisins":0.5}
shopping_cart

{'Tomato': 5, 'Oats': 1, 'Almonds': 0.5, 'Black Raisins': 0.5}

In [58]:
shopping_cart = {"Tomato":"5",
                 "Oats": 1,
                 "Almonds": 0.5,
                 "Black Raisins":0.5}
shopping_cart

{'Tomato': '5', 'Oats': 1, 'Almonds': 0.5, 'Black Raisins': 0.5}

In [69]:
learner_info = {1:"Swapnil", 2: "Ashwathy",1:"Ashwathy"}
learner_info

{1: 'Ashwathy', 2: 'Ashwathy'}

In [67]:
type(learner_info)

dict

In [ ]:
dict.

In [70]:
learner_info.keys()

dict_keys([1, 2])

In [71]:
shopping_cart.keys()

dict_keys(['Tomato', 'Oats', 'Almonds', 'Black Raisins'])

In [72]:
shopping_cart.values()

dict_values(['5', 1, 0.5, 0.5])

In [ ]:
shopping_cart.update

In [73]:
particapant_details = {"names":['Aditi','Snehal','Karunasagar','Nandhini'],
                       "age":[23,38,24,23],
                       "interest":["Volleyball","Cricket","Cricket","Badminton"]}

In [74]:
particapant_details

{'names': ['Aditi', 'Snehal', 'Karunasagar', 'Nandhini'],
 'age': [23, 38, 24, 23],
 'interest': ['Volleyball', 'Cricket', 'Cricket', 'Badminton']}

In [75]:
import pandas as pd
pd.DataFrame(particapant_details)

         names  age    interest
0        Aditi   23  Volleyball
1       Snehal   38     Cricket
2  Karunasagar   24     Cricket
3     Nandhini   23   Badminton