In [1]:
import pandas as pd

In [3]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [4]:
del claimants_data['CASENUM']

In [6]:
claimants_data.dropna(axis=0,inplace=True)

In [7]:
claimants_data.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [8]:
X = claimants_data.iloc[:,1:]
y = claimants_data[['ATTORNEY']]

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [10]:
stack_algorithm = []

log_model = LogisticRegression()
dt_model  = DecisionTreeClassifier()
svc_model = SVC()

stack_algorithm.append(('log',log_model))
stack_algorithm.append(('dt',dt_model))
stack_algorithm.append(('svc',svc_model))

In [11]:
stack_algorithm

[('log', LogisticRegression()),
 ('dt', DecisionTreeClassifier()),
 ('svc', SVC())]

In [12]:
st_model = VotingClassifier(estimators = stack_algorithm)

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
from sklearn.model_selection import cross_val_score
cv_score = cross_val_score(estimator = st_model, X=X,y=y,cv=5)#Fitting, Training, Test
print('CV score for 5 Fold = {}\nMean Accuracy = {}\nDeviation = {}.'.format(cv_score,cv_score.mean(),cv_score.std()))

CV score for 5 Fold = [0.69545455 0.67579909 0.71232877 0.68493151 0.70776256]
Mean Accuracy = 0.6952552926525529
Deviation = 0.013660888673167268.