In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("Q12.xlsx")

In [4]:
df.head()

   aaa
0   34
1   36
2   36
3   38
4   38

In [5]:
df.mean()

aaa    41.0
dtype: float64

In [6]:
df.mode()

   aaa
0   41

In [7]:
df.var()

aaa    25.529412
dtype: float64

In [8]:
df.std()

aaa    5.052664
dtype: float64