##### # Assignment - 1
Submit 2 examples for each module.
1. while loop
2. for loop
3. if else
4. if elif else
5. user defined functions without for loop, if loop
6. user defined functions with for loop
7. user defined functions with for loop and if loop
8. break
9. continue
10. for loop with in operator
11. for loop with if statement 
12. for loop with not in operator
10. if with in operator
11. if with not in operator

## 1.while loop

In [2]:
while True:
    var1=input("Enter your name: ")
    var2="Manan"
    if var1==var2:
        print("Manan")
        break
    else:
        print("Wrong name entered")

Enter your name: manan
Wrong name entered
Enter your name: hi
Wrong name entered
Enter your name: Manan
Manan

In [3]:
while True:
    var1=input("Enter your name: ")
    var2="Manan"
    if var1==var2:
        print("Manan")
        continue
    elif var1=="stop":
        break
    else:
        print("Wrong name entered")

Enter your name: hi
Wrong name entered
Enter your name: manan
Wrong name entered
Enter your name: Manan
Manan
Enter your name: stop

## 2.for loop

In [18]:
var1=int(input("Enter 1st number: "))
var2=int(input("Enter 2nd number: "))
print("The Number's within the range will have a diffence of 3 increments:")
for i in range(var1,var2,3):
    print(i)

Enter 1st number: 1
Enter 2nd number: 30
The Number within the range will have a diffence of 3 increments:
1
4
7
10
13
16
19
22
25
28

In [31]:
var1=int(input("Enter the number: "))
print("Table of {} is:".format(var1))
for i in range(1,11):
    print(var1,"X",i,"=",var1*i)

Enter the number: 21
Table of 21 is:
21 X 1 = 21
21 X 2 = 42
21 X 3 = 63
21 X 4 = 84
21 X 5 = 105
21 X 6 = 126
21 X 7 = 147
21 X 8 = 168
21 X 9 = 189
21 X 10 = 210

## 3.if else

In [41]:
var=int(input("Enter the number:"))
if var%2==0:
    print("even")
else:
    print("odd")

Enter the number:1
odd

In [42]:
var=int(input("Enter the number:"))
if var%2==0:
    var=var+1
    print("Convert Even to Odd",var)
else:
    var=var+1
    print("Convert Odd to Even",var)

Enter the number:2
Convert Even to Odd 3

## 4. if elif else

In [6]:
var=int(input("Enter the number"))
if var<0:
    print("-ve")
elif var>0:
    print("+ve")
else: 
    print("0")

Enter the number0
0

In [19]:
var=int(input("Enter the number"))
if var<10:
    var=var+1
    print("If value is less than 10 add 1:\t",var)
elif var<20:
    var=var+2
    print("If value is less than 20 add 2:\t",var)
else: 
    var=var+3
    print("If value is more than 20 add 3:\t",var)

Enter the number21
If value is more than 20 add 3:			 24

##  5.user defined functions without for loop, if loop

In [23]:
def func(var1,var2):
    sum=var1+var2
    return sum
func(2,3)

5

In [24]:
def func(var1,var2):
    mul=var1*var2
    return mul
func(2,3)

6

## 6.user defined functions with for loop

In [18]:
def func(var1):
    for i in range(1,11):
        print(var1,"X",i,"=",var1*i)  
func(56)

56 X 1 = 56
56 X 2 = 112
56 X 3 = 168
56 X 4 = 224
56 X 5 = 280
56 X 6 = 336
56 X 7 = 392
56 X 8 = 448
56 X 9 = 504
56 X 10 = 560

In [23]:
def func(var1,var2):
    print("Numbers in range entered are:")
    for i in range(var1,var2):
        print(i)  
func(1,11)

Numbers in range entered are:
1
2
3
4
5
6
7
8
9
10

## 7.user defined functions with for loop and if loop

In [42]:
def func(var1,var2,var3):
    for i in range(var1,var2):
        if var3%2==0:
            print("Even numbers:",i*2)
        else:                            
            print("Odd Numbers:",i)
func(1,10,2)

Even numbers: 2
Even numbers: 4
Even numbers: 6
Even numbers: 8
Even numbers: 10
Even numbers: 12
Even numbers: 14
Even numbers: 16
Even numbers: 18

In [23]:
def func(var1):
    for i in range(1,var1+1):
        if var1%i==0:
             print(i)
func(10)

1
2
5
10

## 8.break

In [27]:
while True:
    var1=input("Enter your name: ")
    var2="Manan"
    if var1==var2:
        print("Manan")
        break
    else:
        print("Wrong name entered")

Enter your name: fo
Wrong name entered
Enter your name: manan
Wrong name entered
Enter your name: Manan
Manan

In [32]:
while True:
    var1=input("Enter your name: ")
    if var1.lower()=="quit":
        break

Enter your name: sd
Enter your name: hi
Enter your name: QUIT

## 9.continue

In [33]:
while True:
    var1=input("Enter your name: ")
    var2="Manan"
    if var1==var2:
        print("Manan")
        continue
    elif var1=="stop":
        break
    else:
        print("Wrong name entered")

Enter your name: iih
Wrong name entered
Enter your name: manan
Wrong name entered
Enter your name: MAnan
Wrong name entered
Enter your name: Manan
Manan
Enter your name: stop

In [35]:
while True:
    var1=input("Enter manan: ")
    if var1.lower()=="manan":
        continue
    else:
        break

Enter manan: manan
Enter manan: manan
Enter manan: sdfdf

## 10.for loop with in operator

In [70]:
var="Hi I am Manan Malhotra"
for i in var:
    if "Manan" in var:
        print(i)

H
i

I

a
m

M
a
n
a
n

M
a
l
h
o
t
r
a

In [83]:
var="Hi I am Manan Malhotra"
for i in var:
    if "Manan" in var:
        var=var.replace("Manan","MANAN")
        print(var)

Hi I am MANAN Malhotra

## 11.for loop with if statement

In [46]:
var1=int(input("Enter 1st number"))
var2=int(input("Enter 2nd number"))
var3=int(input("Enter 1 or 2 (1 for odd and 2 for even)  number"))
for i in range(var1,var2):
        if var3%2==0:
            print("Even numbers:",i*2)
        else:                            
            print("Odd Numbers:",i)

Enter 1st number1
Enter 2nd number11
Enter 1 or 2 (1 for odd and 2 for even)  number2
Even numbers: 2
Even numbers: 4
Even numbers: 6
Even numbers: 8
Even numbers: 10
Even numbers: 12
Even numbers: 14
Even numbers: 16
Even numbers: 18
Even numbers: 20

In [50]:
var1=int(input("Enter the number:"))
for i in range(1,var1+1):
    if var1%i==0:
        print(i)
print("Factors of ",var1)

Enter the number:20
1
2
4
5
10
20
Factors of  20

## 12.for loop with not in operator

In [76]:
var="Hi I am Manan Malhotra"
for i in var:
    if "manan" not in var:
        print(i)

H
i

I

a
m

M
a
n
a
n

M
a
l
h
o
t
r
a

In [77]:
var="Hi I am Manan Malhotra"
for i in var:
    if "manan" not in var:
        var=var.replace("Manan","MANAN")
var

'Hi I am MANAN Malhotra'

## 13.if with in operator

In [80]:
var="Hi I am Manan Malhotra"
if "Manan" in var:
    print(var)

Hi I am Manan Malhotra

In [84]:
var="Hi I am Manan Malhotra"
if "Manan" in var:
    var=var.replace("Manan","MANAN")
var

'Hi I am MANAN Malhotra'

## 14.if with not in operator

In [86]:
var="Hi I am Manan Malhotra"
if "manan" not in var:
    print(var)

Hi I am Manan Malhotra

In [88]:
var="Hi I am Manan Malhotra"
if "manan" not in var:
    var=var.replace("Manan","MANAN")
var

'Hi I am MANAN Malhotra'